bin/
obj/
out/
artifacts/
publish/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
.nuget/

.idea/
*.sln.iml
*.iml
/.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/shelf/
.idea/**/dictionaries/

_ReSharper*/
*.ReSharper
*.DotSettings.user


logs/
*.log
*.ldb
*.db
*.db-journal
TestResults/

.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes


.vscode/

appsettings.*.Local.json
*.env

*.lock.json

.idea/.idea.*


